body { 
	font-family: Arial, sans-serif; 
	background-color: rgb(119, 156, 231); 
	/* Light green background color */
	margin: 0; 
	padding: 0; 
} 

.bingo-container { 
	text-align: center; 
	padding: 20px; 
} 

h1 { 
	color: #030612; 
	/* Dark green text color */
} 

.player-cards { 
	display: flex; 
	justify-content: center; 
	gap: 20px; 
	margin-top: 20px; 
} 

.player-card { 
	background-color: #fff; 
	padding: 10px; 
	border-radius: 2px; 
	box-shadow: 0 0 1px rgba(0, 0, 0, 0.2); 
	display: grid; 
	grid-template-columns: repeat(5, 1fr); 
	gap: 5px; 
} 

.player-card h2 { 
	color: #7af6dd; 
	/* Dark green text color */
} 

.controls { 
	margin-top: 20px; 
} 

button { 
	background-color: #8e62ee; 
	/* Dark green button background color */
	color: white; 
	border: none; 
	padding: 10px 20px; 
	border-radius: 5px; 
	cursor: pointer; 
	font-weight: bold; 
} 

button:disabled { 
	background-color: #ccc; 
	cursor: not-allowed; 
} 

.input-container { 
	margin-top: 10px; 
} 

label { 
	font-weight: bold; 
	color: #79d4c2; 
	/* Dark green text color */
} 

#numberInput { 
	padding: 5px; 
	margin-right: 10px; 
} 

#turnDisplay { 
	font-weight: bold; 
	color: #ff5e78; 
	/* Light red text color */
} 

/* Style individual numbers in the player cards */
.player-card div { 
	background-color: #8dafdc; 
	/* Dark green number background color */
	color: white; 
	width: 30px; 
	height: 30px; 
	border-radius: 50%; 
	display: grid; 
	align-items: center; 
	justify-content: center; 
	font-weight: bold; 
} 

.player-card div.marked { 
	background-color: #4ecd54; 
	/* Light red for marked numbers */
} 
.input {
	border: none;
	padding: 1rem;
	border-radius: 1rem;
	background: rgb(80, 176, 232);
	box-shadow: 20px 20px 60px rgb(109, 158, 243),
		   -20px -20px 60px rgb(76, 185, 202);
	transition: 0.3s;
   }
   
   .input:focus {
	outline-color: #e8e8e8;
	background: #e8e8e8;
	box-shadow: inset 20px 20px 60px #c5c5c5,
		   inset -20px -20px 60px #ffffff;
	transition: 0.3s;
   }
   